<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <parameter name="name" value="Arya"></parameter>
   <parameter name="age" value="17"></parameter>
   <parameter name="sport" value="Baseball"></parameter>
    <classes>
      <class name="testNG.Parameter_Options"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
